body {
    background: #202028;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
}

canvas {
    border: .2em solid #fff;
    height: 80vh;
}

.dashboard {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 0 auto;
}

.dashboard span {
    text-align: right;
}